.row.align-center
  .small-12.medium-6.columns

    %img.mimo-logo{:src => "#{@logo}" }
    - if @update.present?
      .success-container
        %h2
          An update is available for MIMO Community Edition, please run the installer.
    %br
    .card

      %h1.card-title Your MIMO settings
      %h3
        Application ID: #{@settings.unique_id}

      = form_for @settings, url: '/settings', method: :patch, html: {class: "nifty_form"} do |f|
        - if @success
          .success-container
            %h2
              Changes successfully applied

        - if @settings.errors.any?
          #error_explanation
            .error-container
              %h2
                = pluralize(@settings.errors.count, "error")
                prohibited this task from being saved:
              %ul
                - @settings.errors.full_messages.each do |msg|
                  %li= msg

        .input-container
          = label_tag(:business_name, "Company Name")
          = f.text_field :business_name, placeholder: 'My Great Business'
          %small Will be used in your privacy statement and dashboard.

        .input-container
          = label_tag(:docs_url, "Documentation URL")
          = f.text_field :docs_url, placeholder: "https://docs.#{@domain}"
          %small If you have your own documentation enter your URL here.

        .input-container
          = label_tag(:intercom_id, "Intercom ID")
          = f.text_field :intercom_id, placeholder: "Intercom ID"
          %small Input to enable dashboard support via your Intercom account.

        .input-container
          = label_tag(:drift_id, "Drift ID")
          = f.text_field :drift_id, placeholder: "Drift ID"
          %small Input to enable dashboard support via your Drift account.

        %p Intercom will take priority if both Intercom ID and Drift ID are filled in.


        .row.align-middle
          .small-12.medium-6.columns
            .input-container
              = label_tag(:logo, "Upload your logo for the dashboard and splash pages")
              = f.file_field :logo
              %small Upload a square shaped logo for use in the dashboard.
          .small-12.medium-6.columns.text-center
            - if @settings.logo.present?
              = image_tag @settings.logo.thumb.url

        .row.align-middle
          .small-12.medium-6.columns
            .input-container
              = label_tag(:logo, "Upload your favicon for the dashboard")
              = f.file_field :favicon
              %small Must be .ico format.
          .small-12.medium-6.columns.text-center
            - if @settings.favicon.present?
              = image_tag @settings.favicon.url

        = f.submit "Save"
