<!DOCTYPE html>
<html>
  <head>
    <title>MimoApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <p>PAGE NEEDS STYLESHEET ADDING. NICE IT UP</p>
    <hr></hr>
    <div class="centered-container">
      <%= yield %>
    </div>
  </body>
</html>
